@charset "ISO-8859-1";

form {
	margin: 40px auto;
	width: 700px;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

form > *:not(label) {
	margin-bottom: 25px;
}

form > label {
	margin-bottom: 10px;
}

form > input, form > select {
	border: none;
	border-bottom: 1px solid #00adb5;
	transition: border 0.1s ease-in-out;
	line-height: 2em;
}

form > input:focus {
	border-bottom: 3px solid #00adb5;
}

#price_group {
	display: flex;
	width: 200px;
	justify-content: space-between;
}

form > textarea {
	max-width: 660px;
	min-height: 150px;
	border: 1px solid #00adb5;
	padding: 5px;
}

form > textarea:focus {
	border: 3px solid #00adb5;
}

#price {
	border: none;
	border-bottom: 1px solid #00adb5;
	margin-left: 20px;
}

#price:focus {
	border-bottom: 3px solid #00adb5;
}

input[type=submit] {
	width: 100px;
	margin: 0 auto;
	transition: all 0.6s ease-in-out;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #00adb5;
	transition: all 0.6s ease-in-out;
}