@charset "ISO-8859-1";

h1 {
	font-size: 50px;
	width: 600px;
	margin: 0 auto;
	display: inline-block;
	font-family: 'BungeeShade', Helvetica;
	font-weight: bold;
	line-height: 100px;
}

h1 > a {
	color: white;
	transition: color 0.6s ease-in-out;
}

h1 > a:hover {
	color: #00adb5;
	transition: color 0.6s ease-in-out;
}

#user-logo {
	width: 200px;
	display: flex;
	justify-content: center;
  	align-items: center;
  	background-color: #00adb5;
}

#user-logo > .logo {
	background-color: white;
	border-radius: 50%;
}

#user-logo > .logo > a > img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}